<nav>

    <div id="sleep-hash">
      <h1 id="bottom-header">#DBCSleeps</h1>
    </div>

    <div id = "sleep-title">
      <h1 id="top-header">sleep</h1>
      <h1 id="middle-header">OVERFLOW</h1>
    </div>

    <div id="logo">
    </div>

</nav>
