$(function() {

//maybe set the id of the form and then come back here to change it in the ajax call
    $('form').on('ajax:success', function(event, data, status) {
      // console.log("a form was posted")
      // console.log(data)
  // insert the failure message inside the "#account_settings" element

    $('#comment-display').append('<p>' + data['bender']['content'] + '</p>')
    $('#comment-display').append('<p>' + data['bender']['username'] + '</p>')
  });

});

